.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newsContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.btnGroup{
    display: flex;
    justify-content: space-between;
}
.block{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    color: #d4ded4;
    padding: 20px;
    background-color: #1e1f22;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
.input{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.sectionName{
    color: #5b814a;
    margin: 5px 0 10px;
}