/*NewsCard*/
.block{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    color: #d4ded4;
    padding: 20px;
    cursor: pointer;
    background-color: #1e1f22;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
.block:hover{
    background-color: #2e363a;
}
.sectionName{
    color: #b88e68;
    margin: 5px 0 10px;
}

/*Search*/
.searchedContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.searchedBlock{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    background:linear-gradient(to right, #171b1e, #2c6752);
    color: #ffffff;
}
.searchBtn{
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
}
.searchInput, .searchResult{
    color: white;
}

/*LoadMore, back*/
.loadMoreBtn, .backBtn{
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
.loadMoreBtn:hover, .backBtn:hover, .searchBtn:hover{
    background-color: white;
    color: black;
}
